{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "8.1.4" // matches engine in package.json
                }
            }
        ]
    ]
}